In [25]:
import pandas as pd
import sqlite3
from pathlib import Path

In [17]:
csv_file = Path('projects.csv')

df_projects = pd.read_csv(csv_file)

df_projects.head(15)

,project_id,project_name,project_description,project_skills,project_image,project_date,project_link
0,1,Personal Website,"Employing technologies such as React, Flask, S...","React, Flask, SCSS, SQLite, Javascript, Python",website_capture.png,12/12/2023,www.jesse-heaton.com
1,2,Machine Learning Music,"In the 2 week scope of this project, our team ...","Machine Learning, Data Science, Python, APIs",ml_music.png,10/2/2023,https://github.com/jnh17331/machine-learning-m...
2,3,Earthquake Reporter,The Earthquake Report Visualizer provides a co...,"Javascript, Leaflet, APIs",eq_leaflet.png,8/1/2023,https://jnh17331.github.io/leaflet-challenge/
3,4,Pokedex,The Pokedex Data Visualization Project—a front...,"Flask, Python, Javascript, HTML, CSS",pokedex.png,8/10/2023,https://github.com/jnh17331/Group_Project_3_Po...
4,5,Box Office Analysis,Our team systematically curated data encompass...,"Python, APIs, Pandas, Matplotlib",movie_analysis.png,6/5/2023,https://github.com/jnh17331/project1
5,6,Webscraping Mars Info,The project involves meticulously scraping dat...,"Python, APIS, Pandas, Matplotlib",mars_webscraping.png,6/5/2023,https://github.com/jnh17331/mars_web_scraping
6,7,Funding Venture Neural Network Predictor,Mimicked a business situation in which a compa...,"Neural Networks, Python, Machine Learning, Dat...",venture_nn.PNG,9/12/2023,https://github.com/jnh17331/deep-learning-chal...
7,8,Credit Risk Classifier,Utilized logistic regression in a machine lear...,"Statistics, Machine Learning, Python",credit_classifer.PNG,9/4/2023,https://github.com/jnh17331/credit-risk-classi...
8,9,Cryptocurrency Clustering Model,This project focuses on applying unsupervised ...,"Machine Learning, Statistics, Python",crypto_clustering.PNG,8/29/2023,https://github.com/jnh17331/crypto_clustering
9,10,Belly Button Microbe Dashboard,I built a front-end interactive dashboard to e...,"Javascript, Plotly, HTML, Git",belly_button.PNG,7/27/2023,https://jnh17331.github.io/belly_button_challe...
10,11,Crowdfunding ETL,"In a 2-day time frame, my team and I followed ...","SQL, ETL, Data Engineering,",ETL.PNG,7/13/2023,https://github.com/jnh17331/crowdfunding_ETL
11,12,UK Food Analysis,Created a MongoDB database to store the data o...,"noSQL, Data Analysis, Data Engineering, Data M...",no_sql.PNG,7/11/2023,https://github.com/jnh17331/nosql-challenge
12,13,Hawaii Climate Analysis App,"For this project, I developed a Flask app that...","Flask, Python, SQL, Data Analysis",hawaii_app.PNG,6/28/2023,https://github.com/jnh17331/sqlalchemy-challenge

In [26]:
db_path = 'sqlite_db/project_db.sqlite'

conn = sqlite3.connect(db_path)

In [27]:
cursor = conn.cursor()

In [20]:
drop_table_query = "DROP TABLE project_db"

cursor.execute(drop_table_query)

create_table_query = """
CREATE TABLE "project_db" (
	"project_id"	INTEGER NOT NULL,
	"project_name"	TEXT NOT NULL,
	"project_description"	TEXT NOT NULL,
	"project_skills"	TEXT NOT NULL,
	"project_image"	BLOB,
	"project_date"	TEXT,
    "project_link"	TEXT,
	PRIMARY KEY("project_id")
);
"""

cursor.execute(create_table_query)

In [21]:
df_projects.to_sql('project_db', conn, if_exists='replace', index=False)

13

In [28]:
blog_csv_file = Path('blog.csv')

df_blog = pd.read_csv(blog_csv_file)

df_blog.head(15)

,blog_id,blog_title,blog_message,date
0,0,My first blog post!,Welcome to my first blog post! I have just cre...,12/7/2023
1,1,Welcome to my website!,Hello and Happy Holidays! It's currently 3 day...,12/22/2023

In [29]:
drop_table_query = "DROP TABLE blog_db"

cursor.execute(drop_table_query)

create_blog_table_query = """
CREATE TABLE "blog_db" (
	"blog_id"	INTEGER NOT NULL,
	"blog_title"	TEXT NOT NULL,
	"blog_message"	TEXT NOT NULL,
    "date"	TEXT NOT NULL,
	PRIMARY KEY("blog_id")
);
"""

cursor.execute(create_blog_table_query)

In [30]:
df_blog.to_sql('blog_db', conn, if_exists='replace', index=False)

2

In [11]:
conn.commit()
conn.close()

In [31]:
query = "SELECT * FROM project_db;"
params = ""

cursor.execute(query, params)
projects  = cursor.fetchall()

#conn.close()

In [13]:
query = "SELECT * FROM blog_db;"
params = ""

cursor.execute(query, params)
blogs  = cursor.fetchall()

#conn.close()
print(blogs)

ProgrammingError: Cannot operate on a closed database.

In [14]:
print(projects)

NameError: name 'projects' is not defined

In [ ]:
db_path = 'project_db.sqlite'

conn = sqlite3.connect(db_path)

In [22]:
conn.close()