In [25]:
import pandas as pd
import sqlite3
from pathlib import Path
from PIL import Image

In [30]:
csv_file = Path('personal_website.csv')

df_projects = pd.read_csv(csv_file)

df_projects.head(15)

,project_id,project_name,project_description,project_skills,project_image,project_date,reviews
0,1,Personal Website,"Employing technologies such as React, Django, ...","React, Django, SCSS, SQL, Javascript, Python",NaN,NaN,NaN
1,2,Machine Learning Music,"In the 2 week scope of this project, our team ...","Machine Learning, Data Science, Python, APIs",NaN,10/2/2023,NaN
2,3,Earthquake Reporter,The Earthquake Report Visualizer offers a comp...,"Javascript, Leaflet, APIs",NaN,8/1/2023,NaN
3,4,Pokedex,The Pokedex Data Visualization Project—a sophi...,"Flask, Python, Javascript, HTML, CSS",NaN,8/10/2023,NaN
4,5,Box Office Analysis,Our team systematically curates data encompass...,"Python, APIs, Pandas, Matplotlib",NaN,6/5/2023,NaN
5,6,Webscraping Mars Info,The project involves meticulously scraping dat...,"Python, APIS, Pandas, Matplotlib",NaN,6/5/2023,NaN
6,7,Funding Venture Neural Network Predictor,Mimicked a business situation in which a compa...,"Neural Networks, Python, Machine Learning, Dat...",NaN,9/12/2023,NaN
7,8,Credit Risk Classifier,Used a logistic regression Machine Learning mo...,"Statistics, Machine Learning, Python",NaN,9/4/2023,NaN
8,9,Cryptocurrency Clustering Model,This project focuses on applying unsupervised ...,"Machine Learning, Statistics, Python",NaN,8/29/2023,NaN
9,10,Belly Button Microbe Dashboard,I built a front-end interactive dashboard to e...,"Javascript, Plotly, HTML, Git",NaN,7/27/2023,NaN
10,11,Crowdfunding ETL,"In a 2-day time frame, my team and I followed ...","SQL, ETL, Data Engineering,",NaN,7/13/2023,NaN
11,12,UK Food Analysis,Created a MongoDB database to store the data o...,"noSQL, Data Analysis, Data Engineering, Data M...",NaN,7/11/2023,NaN
12,13,Hawaii Climate Analysis App,"For this project, I developed a Flask app that...","Flask, Python, SQL, Data Analysis",NaN,6/28/2023,NaN

In [31]:
db_path = 'project_db.sqlite'

conn = sqlite3.connect(db_path)

In [32]:
cursor = conn.cursor()

In [34]:
create_table_query = """
CREATE TABLE "project_db" (
	"project_id"	INTEGER NOT NULL,
	"project_name"	TEXT NOT NULL,
	"project_description"	TEXT NOT NULL,
	"project_skills"	TEXT NOT NULL,
	"project_image"	BLOB,
	"project_date"	TEXT,
	PRIMARY KEY("project_id")
)
"""

cursor.execute(create_table_query)

In [35]:
df_projects.to_sql('project_db', conn, if_exists='replace', index=False)

13

In [36]:
conn.commit()
conn.close()

In [38]:
db_file_path = 'project_db.sqlite'
conn = sqlite3.connect(db_file_path)
cursor = conn.cursor()

In [39]:
conn.close()